*{
    text-transform: capitalize;
}
body,html{
    background-color: #e9e9e9;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #1b1b1b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
hr{
    width: 40%;
    margin: auto;
}
*::selection{
    background-color: rgb(20, 148, 165);
    color: white;
}
nav{
    background-color: #2ec5df;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    padding-top: 25px;
}
a{
    text-decoration: none;
}
